.country-details-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
}

.back-button{
    padding: 6px 24px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.country-details{
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 32px;
}

.country-details img{
    width: 40%;
}

.details-text{
   
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    max-height: 180px;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 64px;


}

.details-text p{
    margin: 0;
}

.border-countries {
    margin-top: 48px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: 14px;
}

.border-countries a{
    padding: 4px 16px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* margin-inline: 8px; */
    font-size: 14px;
    
}

@media (max-width:840px){

    .country-details{
        flex-direction: column;
        align-items: flex-start;
    }

    .details-text{
        display: block;
        max-height: unset;
    }

    .details-text p{
        margin: 16px ;
    }

    
.country-details img{
    max-width: 400px;
    width: 100%;
}


.title{
    font-size: 16px;
}

.header-content p{
    font-size: 12px;
}

    

}

